@font-face {
  font-family: 'Lato Light';
  src: url('fonts/Lato-Light.ttf')  format('truetype');
}
@font-face {
  font-family: 'Roboto Thin';
  src: url('fonts/Roboto-Thin.ttf')  format('truetype');
}
@font-face {
  font-family: 'Bitter';
  src: url('fonts/Bitter-Regular.ttf')  format('truetype');
}

html {
	height: 100%;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
 
::-webkit-scrollbar-thumb {
  	background: #666;
  	border-radius: 10px;
}

::-webkit-scrollbar-track {
  	background: #10121d;
}

::-webkit-scrollbar-corner {
	background : #10121d;
}

body {
	overflow-y : scroll;
	overflow-x : scroll;
	margin : 0;
	margin-top : 30px;
	position : relative;
	height : calc(100% - 30px);
}

#header {
	-webkit-app-region : drag;
	 -webkit-user-select: none;
	width : 100%;
	top : 0px;
	height : 30px;
	margin-left : 0px;
	background: #10121d;
	position : fixed;
	display : block;
	color : white;
	font-family : 'Lato Light';
	font-size : 13px;
	line-height : 30px;
	padding-left : 10px;
	z-index : 1;
}

.center {
	margin : auto;
	left : 0;
	right : 0;
}

#main {
	position : relative;
	width : 600px;
}

#controls {
	position : relative;
	margin-top: 100px;
	height: 70px;
	width : 600px;
}

#input-expression {
	float : left;
	color: #ffffff;
	border-radius : 10px 0px 0px 10px;
	font-family : 'Roboto Thin';
	background: #480202;
	border : none;
	box-shadow : none;
	height : 50px;
	width : 510px;
	padding : 10px;
	font-size : 40px;
	line-height : 40px;
}

#input-expression:focus {
	box-shadow : inset 0 0 0px 1px white;
	outline: none;
}

#input-expression::selection {
	background : #480202;
}

#analyze-btn {
	background: #6b0000;
	color : white;
	border-radius : 0px 10px 10px 0px;
	font-size: 30px;
	font-family : 'Roboto Thin';
	height : 70px;
	width : 70px;
	padding : 0;
	border : none;
	float : right;
	cursor : pointer;
	outline : none;
}
#analyze-btn:hover {
	background : #7b1010;
}
#analyze-btn:active {
	background : #5b0000;
}

#parse-result {
	overflow: visible;
	position : relative;
	margin-top : 40px;
	width : 600px;
	word-wrap : break-word;
}

#open-brackets-btn {
	color : #d8d8d8;
	background: #6b0000;
	width: 130px;
	height: 30px;
	margin: auto;
	border-radius: 4px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}
#open-brackets-btn:hover {
	background: #8b0000;
}
#open-brackets-btn:active {
	background: #4b0000;
}

#parse-result-summary {
	margin-top: 30px;
	font-family : 'Lato Light';
	font-size : 18px;
	color : white;
}

.dot {
	width : 10px;
	height : 10px;
	display : inline-block;
	border-radius : 5px;
	position : relative;
	bottom : 1px;
	margin-right : 2px;
}

#parse-result-details, #parse-result-details-placeholder {
	margin-top : 50px;
	color : white;
	text-align : center;
	font-family : 'Roboto';
	font-size : 30px;
	width : 600px;
}

#parse-result-details-placeholder {
	display: none;
	opacity: 0;
}

.fixed-details {
	position : fixed;
	top : 10px;
	z-index : 2;
	background : rgba(0,0,0,0.2);
	border-radius : 10px;	
}
.fixed-details:hover {
	opacity : 0.1;
}

.bg-default {
	background: #20222d;
}
.darkred {
	color : darkred;
}
.bg-darkred {
	background : darkred;
}
.orangered {
	color : orangered;
}
.bg-orangered {
	background : orangered;
}
.royalblue {
	color : royalblue;
}
.bg-royalblue {
	background : royalblue;
}
.yellow {
	color : yellow;
}
.bg-yellow {
	background : yellow;
}
.magenta {
	color : magenta;
}
.bg-magenta {
	background : magenta;
}
.pink {
	color : pink;
}
.bg-pink {
	background : pink;
}
.chocolate {
	color : chocolate;
}
.bg-chocolate {
	background : chocolate;
}

#graph {
	overflow: visible;
	position : relative;
	margin-top : 50px;
}

.vertex {
	background : #860000;
	width : 50px;
	height : 50px;
	border-radius : 25px;
	line-height : 50px;
	text-align : center;
	color : white;
	position : absolute;
	font-size : 20px;
	font-family : 'Bitter';
	box-shadow : 1px 1px 0px 1px rgba(50,0,0,0.9);
}

.vertex:last-child {
	margin-bottom : 50px;
}

.edge {
	position : absolute;
   	background-repeat:no-repeat !important;
  	background-position:center center !important;
  	background-size: 100% 100%, auto !important;
  	height : 50px;
}

#footer {
	
}